@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen;
}
